@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "خروج";
}

<hgroup>
    <h1 class="text-danger">خروج از سیستم</h1>
    <h2 class="text-danger">این کاربر از سیستم خارج شده است. لطفا مجدد وارد شوید.</h2>
</hgroup>
