@{
    ViewBag.Title = "تایید آدرس ایمیل";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("اینجا را کلیک نمایید تا وارد شوید", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
<br/>
