@{
    ViewBag.Title = "تایید رمز عبور فراموش شده";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        لطفا آدرس ایمیل خود را وارد نمایید تا رمز عبور شما تغییر یابد.
    </p>
</div>
<br/>	
