@{
    ViewBag.Title = "تایید تعویض روز عبور";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>
<div>
    <p>
        رمز عبور شما تعویض شده است. لطفا @Html.ActionLink("اینجا کلیک نمایید تا وارد شوید.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
<br/>