<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="PsychologyConnection" connectionString="Data source=.;Initial Catalog=abzardan_Psychology;User Id=abzardan_PsychologyUSer;Password=Taha123!;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
	<authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="1" />
    </authentication>
	<sessionState timeout="1"></sessionState>
    <compilation debug="true" targetFramework="4.5.1" defaultLanguage="c#" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="400" />
            <error statusCode="400" path="D:\HostingSpace\abzardanesh.com\error_docs\bad_request.html" />
            <remove statusCode="407" />
            <error statusCode="407" path="D:\HostingSpace\abzardanesh.com\error_docs\proxy_authentication_required.html" />
            <remove statusCode="414" />
            <error statusCode="414" path="D:\HostingSpace\abzardanesh.com\error_docs\request-uri_too_long.html" />
            <remove statusCode="415" />
            <error statusCode="415" path="D:\HostingSpace\abzardanesh.com\error_docs\unsupported_media_type.html" />
            <remove statusCode="503" />
            <error statusCode="503" path="D:\HostingSpace\abzardanesh.com\error_docs\maintenance.html" />
            <error statusCode="401" prefixLanguageFilePath="" path="D:\HostingSpace\abzardanesh.com\error_docs\unauthorized.html" />
            <error statusCode="403" prefixLanguageFilePath="" path="D:\HostingSpace\abzardanesh.com\error_docs\forbidden.html" />
            <error statusCode="404" prefixLanguageFilePath="" path="D:\HostingSpace\abzardanesh.com\error_docs\not_found.html" />
            <error statusCode="405" prefixLanguageFilePath="" path="D:\HostingSpace\abzardanesh.com\error_docs\method_not_allowed.html" />
            <error statusCode="406" prefixLanguageFilePath="" path="D:\HostingSpace\abzardanesh.com\error_docs\not_acceptable.html" />
            <error statusCode="412" prefixLanguageFilePath="" path="D:\HostingSpace\abzardanesh.com\error_docs\precondition_failed.html" />
            <error statusCode="500" prefixLanguageFilePath="" path="D:\HostingSpace\abzardanesh.com\error_docs\internal_server_error.html" />
            <error statusCode="501" prefixLanguageFilePath="" path="D:\HostingSpace\abzardanesh.com\error_docs\not_implemented.html" />
            <error statusCode="502" prefixLanguageFilePath="" path="D:\HostingSpace\abzardanesh.com\error_docs\bad_gateway.html" />
        </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>