@{
    ViewBag.Title = "درخواست صندوق صدقات از معلولین موسسه امام جواد علیه السلام";
}
<h2>@ViewBag.Title</h2><br>
<p>
    .حامی گرامی از اینکه آسایشگاه خیریه معلولین و سالمندان امام جواد علیه السلام را انتخاب نموده اید سپاسگزاریم. 
    به منظور تهیه صنوق صدقات خواهشمند است با مرکز تماس بگیرید
</p>
<br />







