@{
    ViewBag.Title = "ارتباط با شركت ابزار دانش غرب";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
مشهد مقدس، دانشجو 27، پلاك 562<br /><br />
<abbr title="Phone">تلفن:</abbr>
0098-513-8922191<br />
<abbr title="Mob">همراه:</abbr>
0098-915-3299870 
</address>

<address>
<strong>مدیریت</strong>   <a href="mailto:davarpanah_h@yahoo.com">Management@abzardanesh.com</a><br />
</address>
<br />
<footer>
    طراحی و نگهداری شرکت ابزار دانش غرب @DateTime.Now.Year &copy;
</footer>
