@{
    ViewBag.Title = "صفحه اصلی";
}
<style>
     h2   {font-size:  small;}
    .jumbotron{padding:30px;}
</style>

<br />
<div class="row">
    <div >
        @if(test1.Models.UserTest.IsValidUser==false)
        {
            @Html.Action("Login", "Account")
        }
        else
        {
            @Html.Raw("تست سنجش افسردگی، اضطراب و استرس (DASS)"+
                 "<br><br> احساس می کنید انرژی و نشاط لازم در زندگی را ندارید؟" +
                 " <br>بیشتر مواقع نگران و مضطرب هستید؟" +
                 " <br>ذهنتان همیشه درگیر مسایل بسیار و گاهی بی اهمیت است و فرصت کافی برای استراحت ندارد؟" +
                      "<br>قبل از انجام هر کاری استرس زیادی دارید؟" +
                      "<br> استرس زیاد در زندگی برایتان مشکل ساز شده است؟<br>" +
                 "<br>دنیای پیچیده و شلوغ امروزی در کنار مزیت های زیادی که برای انسان ها داشته، مشکلاتی را هم برای آنها به همراه آورده است. برخی از این مشکلات، بیماری های روحی و آزاردهنده هستند. از رایج ترین آنها می توان به افسردگی، اضطراب و استرس نام برد. شاید این مشکلات را بتوان دستاورد منفی قرن حاضر برای انسان دانست." +
                                "<br><br><br>رایج ترین بیماری های روحی و روانی قرن حاضر کدامند؟<br>" +
                           "<br>افسردگی: یک بیماری روانی‌ست که باعث احساس غم و ناراحتی مداوم و از دست‌دادن علاقه می‌شود. اکثر افراد بعضی از مواقع احساس ناراحتی، افسردگی و غم می‌نمایند، احساس افسرده و غمگین بودن واکنشی طبیعی بدن به مشکلات زندگی و از دست‌دادن چیزها و کسانی که به آنها علاقه داریم، می‌‌باشد. اما زمانیکه این احساس غم و اندوه شدید، بی‌امیدی، بیچارگی و بی‌ارزشی بیشتر از چند روز یا چند هفته طول بکشد، فرد دچار بیماری افسردگی شده‌ است<br>" +
                      "<br>اضطراب: عبارت است از یک احساس ناخوشایند و مبهم هراس و دلواپسی با منشاء ناشناخته، که به فرد دست می‌دهد و شامل عدم اطمینان، درماندگی و برانگيختگی فيزيولوژی است. همهٔ انسان‌ها در زندگی خود دچار اضطراب می‌شوند، ولی اضطراب مزمن و شديد غيرعادی و مشکل‌ساز است. افراد مضطرب نگران و یا مستعد نگرانی، ترسیده، عصبی، پرتنش و وحشت زده هستند.<br>" +
                      "<br>استرس: احساسی است که زمانی به شما دست می‌دهد، که فشار بیشتر از آنچه شما به آن عادت داشته‌اید برشما وارد شود. زمانیکه شما دچار استرس می‌شوید، بدن شروع به ترشح هورمون‌هایی می‌کند که سرعت تپش قلب را بالا برده، تنفس شما را سریع‌تر کرده و میزان انرژی بیشتری به شما می‌دهد. بعضی از انواع استرس عادی و حتی مفید بوده و بدون آن شما انگیزه‌ای برای فعالیت ندارید. بعضی ها معتقدند این نوع استرس به انسان کمک کرده و زندگی بدون آن بی معناست. اما اگر استرس بیشتر از توان جسمی و روحی ما باشد و زندگی مارا تحت تاثیر قراردهد، استرس بد یا کاهنده نامیده می‌شود.<br>" +
                      "<br>این سه مورد بسیار با یکدیگر در ارتباطند. به همین خاطر برخی روانشناسان برای سنجش سلامت افراد آنها را با هم در نظر می گیرند.<br>" +
                      "<br>چطور می توان این بیماری ها را تشخیص داد؟<br>" +
                 "<br> برای تشخیص بیماری های روحی و روانی راه های مختلفی وجود دارد. مطمئن ترین راه مراجعه به مشاور و روانشناس می باشد. اما گاهی برخی احساس می کنند مشکل حاد و جدی ای ندارند و به دنبال راه آسان تر و در دسترس تری هستند. استفاده از تست های معتبر روانشناسی راهی است که پیش روی این افراد قرار دارد." +
                 "<br>یکی از تست های خوب و معتبر سنجش میزان افسردگی، اضطراب و استرس افراد،توسط لاویبوند طراحی شده است. این تست که به نام آزمون  افسردگی، اضطراب و استرس DASS شهرت دارد، روی بسیاری از افراد مورد آزمون و اعتبارسنجی قرار گرفته است." +
                 "<br>در تست سنجش افسردگی، اضطراب و استرس DASS، این سه عامل در شما سنجیده می شود. پس از پایان تست، می توانید درصد افسردگی، اضطراب و استرس خود را در بخش نتایج مشاهده کنید. جدول زیر به شما کمک می کند که وضعیت کنونی خود (در حد طبیعی ، خفیف، متوسط، شدید یا خیلی شدید) را به خوبی بسنجید.")

            <br><br><br>
            <footer>
                طراحی و نگهداری شرکت ابزار دانش غرب @DateTime.Now.Year &copy;
            </footer>
        }        
    </div>
</div>

