@{
    ViewBag.Title = "پرداخت آنلاین";
}
<h2>@ViewBag.Title.</h2>
@model test1.Models.OnlinePaymentModel
<br/>
<p>
    حامی گرامی جناب آقای/سرکار خانم @Model.Us_LName ضمن تشکر از حمایت شما به اطلاع می رساند این بخش تا برقراری ارتباط با بانک غیر فعال می باش. اطلاعات شما ثبت گردید. به محض راه اندازی این قسمت با شما تماس گرفته می شود. 
</p>
<p>    
    درحال ساخت...
</p>
